.header-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f1ede5;
    margin: 0px 0px 10px 0px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .logo {
    height: 40px;
    width: auto;
  }
  
  .title {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  
  /* Mobile */
  @media (max-width: 600px) {
    .logo {
      height: 32px;
    }
  
    .title {
      font-size: 1.2rem;
    }
  }
  